In [9]:
%%sql 

    Create table if not exists Sensor(
        IdS int not null,
        Longitud float not null,
        latitud float not null,
        PRIMARY KEY(IDS)
    );
    Create table if not exists Lectura(
        IdL int not null,
        Fecha date not null,
        IdS int not null,
        foreign key (IdS) references Sensor(IdS) on delete restrict on update cascade,
        Primary Key(IdL)
    );
    Create table if not exists Lectura_Temperatura(
        IdL int not null,
        SURFACE_TEMPERATURE float not null,
        SOIL_TEMPERATURE float not null,
        foreign key (IdL) references Lectura(IdL) on delete restrict on update cascade,
        Primary Key(IdL)
    );
    Create table if not exists Lectura_Aire(
        IdL int not null,
        AIR_TEMPERATURE float not null,
        WIND float not null,
        foreign key (IdL) references Lectura(IdL) on delete restrict on update cascade,
        Primary Key(IdL)
    );
    Create table if not exists Lectura_Precipitaciones(
        IdL int not null,
        precipitation float not null,
        WETNESS float not null,
        foreign key (IdL) references Lectura(IdL) on delete restrict on update cascade,
        Primary KEY(IdL)
    );
    Create table if not exists Lectura_RadiacionSolar(
        IdL int not null,
        SOLAR_RADIATION float not null,
        foreign key (IdL) references Lectura(IdL) on delete restrict on update cascade,
        Primary Key(IdL)
    );
    Create table if not exists Lectura_Humedad(
        IdL int not null,
        RELATIVE_HUMIDITY float not null,
        SOIL_MOISTURE float not null,
        foreign key (IdL) references Lectura(IdL) on delete restrict on update cascade,
        Primary Key(IdL)
    );

UsageError: Line magic function `%sql` not found.

In [ ]:
%%sql
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (1, -179, -89);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (2, -178, -88);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (3, -177, -87);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (4, -176, -86);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (5, -175, -85);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (6, -174, -84);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (7, -173, -83);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (8, -172, -82);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (9, -171, -81);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (10, -170, -80);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (11, -169, -79);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (12, -168, -78);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (13, -167, -77);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (14, -166, -76);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (15, -165, -75);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (16, -164, -74);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (17, -163, -73);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (18, -162, -72);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (19, -161, -71);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (20, -160, -70);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (21, -159, -69);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (22, -158, -68);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (23, -157, -67);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (24, -156, -66);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (25, -155, -65);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (26, -154, -64);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (27, -153, -63);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (28, -152, -62);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (29, -151, -61);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (30, -150, -60);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (31, -149, -59);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (32, -148, -58);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (33, -147, -57);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (34, -146, -56);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (35, -145, -55);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (36, -144, -54);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (37, -143, -53);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (38, -142, -52);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (39, -141, -51);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (40, -140, -50);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (41, -139, -49);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (42, -138, -48);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (43, -137, -47);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (44, -136, -46);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (45, -135, -45);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (46, -134, -44);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (47, -133, -43);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (48, -132, -42);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (49, -131, -41);
INSERT INTO Sensor (IdS, Longitud, latitud) VALUES (50, -130, -40);

In [ ]:
%%sql 
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (1, '2023-01-02', 5);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (2, '2023-01-03', 20);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (3, '2023-01-04', 35);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (4, '2023-01-05', 23);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (5, '2023-01-06', 31);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (6, '2023-01-07', 30);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (7, '2023-01-08', 15);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (8, '2023-01-09', 37);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (9, '2023-01-10', 4);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (10, '2023-01-11', 48);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (11, '2023-01-12', 49);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (12, '2023-01-13', 3);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (13, '2023-01-14', 33);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (14, '2023-01-15', 27);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (15, '2023-01-16', 16);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (16, '2023-01-17', 50);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (17, '2023-01-18', 14);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (18, '2023-01-19', 6);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (19, '2023-01-20', 9);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (20, '2023-01-21', 22);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (21, '2023-01-22', 46);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (22, '2023-01-23', 44);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (23, '2023-01-24', 7);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (24, '2023-01-25', 21);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (25, '2023-01-26', 24);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (26, '2023-01-27', 13);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (27, '2023-01-28', 8);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (28, '2023-01-29', 39);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (29, '2023-01-30', 45);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (30, '2023-01-31', 10);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (31, '2023-02-01', 12);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (32, '2023-02-02', 19);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (33, '2023-02-03', 47);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (34, '2023-02-04', 34);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (35, '2023-02-05', 28);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (36, '2023-02-06', 1);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (37, '2023-02-07', 25);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (38, '2023-02-08', 42);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (39, '2023-02-09', 18);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (40, '2023-02-10', 36);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (41, '2023-02-11', 38);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (42, '2023-02-12', 2);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (43, '2023-02-13', 41);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (44, '2023-02-14', 40);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (45, '2023-02-15', 43);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (46, '2023-02-16', 32);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (47, '2023-02-17', 11);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (48, '2023-02-18', 17);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (49, '2023-02-19', 29);
INSERT INTO Lectura (IdL, Fecha, IdS) VALUES (50, '2023-02-20', 26);

In [ ]:
%%sql 
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (5, -0.33, 142.12);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (20, 49.28, 37.4);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (35, 10.26, 120.39);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (23, 13.88, 27.05);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (31, 2.35, 80.18);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (30, -16.91, 40.35);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (15, 18.19, 58.19);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (37, 49.85, 47.87);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (4, -18.27, 119.41);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (48, -19.96, 17.17);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (49, 21.14, 149.08);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (3, 6.87, 98.2);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (33, -8.29, 129.27);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (27, -16.34, 120.94);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (16, 5.88, 41.29);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (50, -17.89, 126.19);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (14, -11.3, 140.49);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (6, 44.08, 8.57);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (9, 6.72, 91.72);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (22, 11.9, 13.99);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (46, 25.13, 64.47);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (44, 4.95, 78.32);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (7, 18.91, 36.73);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (21, -5.2, 68.46);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (24, -6.96, 7.46);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (13, 6.75, 143.99);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (8, -6.61, 37.01);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (39, 26.77, 96.75);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (45, 21.17, 120.04);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (10, 0.32, 21.33);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (12, -10.91, 70.46);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (19, -8.03, 44.19);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (47, 40.77, 37.3);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (34, 1.64, 54.3);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (28, 8.77, 52.91);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (1, 35.88, 146.0);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (25, -7.56, 24.14);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (42, -16.05, 17.2);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (18, -7.52, 104.45);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (36, -17.25, 64.92);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (38, -12.6, 37.89);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (2, 41.58, 102.21);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (41, 4.69, 2.18);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (40, -3.14, 11.59);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (43, 18.39, 39.78);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (32, -12.34, 136.45);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (11, 2.32, 61.62);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (17, 3.6, 21.15);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (29, 19.41, 117.4);
INSERT INTO Lectura_Aire (IdL, AIR_TEMPERATURE, WIND) VALUES (26, 1.02, 27.4);

In [ ]:
%%sql
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (5, 33.24, 79.31);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (20, 26.69, 28.16);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (35, 41.13, 28.74);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (23, 50.62, 84.04);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (31, 29.87, 66.22);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (30, 30.14, 86.65);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (15, 85.67, 47.71);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (37, 77.97, 74.12);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (4, 86.67, 10.33);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (48, 92.27, 75.39);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (49, 47.48, 46.77);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (3, 16.61, 86.51);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (33, 71.63, 23.59);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (27, 46.75, 69.12);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (16, 70.4, 41.63);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (50, 75.04, 99.39);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (14, 47.99, 26.29);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (6, 95.59, 71.77);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (9, 46.03, 21.73);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (22, 64.99, 93.97);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (46, 48.75, 21.51);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (44, 44.22, 55.28);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (7, 56.83, 11.81);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (21, 60.91, 9.3);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (24, 15.19, 53.39);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (13, 42.28, 63.21);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (8, 67.86, 71.55);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (39, 92.6, 11.49);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (45, 66.32, 12.67);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (10, 91.87, 15.19);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (12, 49.55, 29.0);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (19, 44.73, 36.77);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (47, 5.98, 74.79);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (34, 34.34, 55.6);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (28, 63.02, 73.68);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (1, 77.1, 31.55);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (25, 23.17, 7.85);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (42, 88.59, 72.76);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (18, 27.57, 1.19);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (36, 85.85, 33.44);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (38, 93.98, 23.58);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (2, 60.03, 82.73);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (41, 9.43, 41.51);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (40, 9.77, 25.81);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (43, 87.39, 19.1);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (32, 33.94, 82.99);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (11, 77.36, 52.84);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (17, 78.05, 25.38);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (29, 72.77, 32.81);
INSERT INTO Lectura_Humedad (IdL, RELATIVE_HUMIDITY, SOIL_MOISTURE) VALUES (26, 47.58, 58.93);

In [ ]:
%%sql
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (5, 73.0, 79.13);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (20, 7.83, 53.17);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (35, 60.23, 41.82);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (23, 29.59, 35.45);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (31, 71.38, 3.51);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (30, 83.61, 43.17);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (15, 25.0, 12.04);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (37, 68.69, 30.77);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (4, 15.67, 75.04);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (48, 60.28, 45.85);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (49, 25.74, 45.45);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (3, 50.9, 10.7);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (33, 86.23, 45.91);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (27, 78.33, 79.54);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (16, 5.6, 9.42);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (50, 30.28, 64.91);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (14, 18.63, 14.67);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (6, 34.44, 60.81);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (9, 9.52, 45.88);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (22, 80.2, 74.84);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (46, 46.33, 11.85);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (44, 89.78, 24.27);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (7, 42.96, 66.24);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (21, 23.37, 52.21);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (24, 95.86, 16.27);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (13, 3.1, 42.01);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (8, 89.06, 38.76);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (39, 90.2, 28.18);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (45, 27.37, 17.36);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (10, 21.52, 90.54);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (12, 29.92, 40.11);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (19, 83.85, 21.97);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (47, 7.66, 22.54);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (34, 34.16, 45.48);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (28, 69.67, 77.23);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (1, 16.96, 95.61);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (25, 53.21, 83.18);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (42, 84.89, 57.07);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (18, 1.15, 73.85);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (36, 79.6, 13.96);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (38, 45.34, 97.56);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (2, 85.07, 2.15);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (41, 30.7, 47.47);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (40, 58.02, 77.52);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (43, 73.15, 37.65);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (32, 90.77, 23.22);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (11, 22.92, 90.67);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (17, 25.95, 2.94);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (29, 10.19, 65.11);
INSERT INTO Lectura_Precipitaciones (IdL, precipitation, WETNESS) VALUES (26, 41.99, 54.24);

In [ ]:
%%sql
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (5, 186.88);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (20, 68.14);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (35, 278.82);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (23, 303.6);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (31, 545.92);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (30, 924.01);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (15, 106.32);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (37, 208.37);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (4, 626.11);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (48, 945.49);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (49, 973.97);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (3, 475.21);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (33, 868.93);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (27, 913.16);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (16, 940.91);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (50, 486.39);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (14, 911.57);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (6, 180.14);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (9, 705.28);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (22, 525.5);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (46, 162.12);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (44, 535.83);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (7, 78.11);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (21, 12.1);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (24, 361.06);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (13, 817.89);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (8, 81.71);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (39, 114.82);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (45, 209.09);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (10, 46.72);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (12, 905.22);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (19, 760.95);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (47, 604.23);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (34, 939.75);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (28, 401.79);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (1, 436.71);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (25, 532.27);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (42, 337.35);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (18, 337.01);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (36, 798.01);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (38, 316.03);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (2, 325.12);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (41, 214.27);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (40, 944.56);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (43, 438.01);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (32, 793.69);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (11, 757.1);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (17, 648.95);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (29, 255.21);
INSERT INTO Lectura_RadiacionSolar (IdL, SOLAR_RADIATION) VALUES (26, 383.16);

In [ ]:
%%sql 
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (5, 5.8, 41.69);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (20, -5.91, -0.32);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (35, 22.02, -1.1);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (23, 38.33, -16.77);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (31, -8.98, -19.32);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (30, -5.18, 34.41);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (15, 2.22, 28.97);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (37, 1.71, 25.4);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (4, -0.88, 33.24);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (48, 16.87, 45.38);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (49, 12.52, -11.76);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (3, 30.1, 19.44);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (33, -9.49, 49.75);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (27, 48.91, -18.75);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (16, 15.33, 22.27);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (50, -6.58, -8.89);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (14, -10.1, 19.71);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (6, 35.79, 32.36);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (9, 32.98, 48.18);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (22, -17.0, -18.89);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (46, -8.97, 3.61);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (44, -18.52, -13.69);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (7, 28.28, 3.08);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (21, 32.46, -9.55);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (24, 6.61, 10.22);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (13, -14.15, -9.3);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (8, 6.67, -6.97);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (39, 32.69, 25.78);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (45, -9.35, 28.33);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (10, 49.01, -2.29);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (12, 7.36, 42.13);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (19, 17.26, 44.31);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (47, -18.91, 0.13);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (34, -4.32, 22.15);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (28, 11.84, 7.99);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (1, 19.63, -6.78);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (25, 16.88, 46.2);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (42, 15.13, -12.75);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (18, 48.12, 4.74);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (36, 43.29, 16.97);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (38, -12.63, 21.05);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (2, 43.18, 24.86);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (41, 15.83, 39.31);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (40, 3.94, 13.57);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (43, 46.47, 18.98);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (32, 5.18, -17.65);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (11, 46.54, 40.1);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (17, 26.74, 22.33);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (29, 36.87, 27.51);
INSERT INTO Lectura_Temperatura (IdL, SURFACE_TEMPERATURE, SOIL_TEMPERATURE) VALUES (26, 30.02, 29.45);